#grad1 {
    height: auto;
    background-color:#000000;
    background-image: linear-gradient( #113440, #000000);
  }
  .CampFirePhoto {
    display: flex;
    text-align: right;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 90px; 

}
.flex-container > div {
    margin: 80px;
    line-height: 20px;
}
.nav-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: 0px; 
    justify-content: space-between;
    border-bottom: 2px solid #BF833C;

}
.nav-container > div {
    width: auto;
}
.title-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: 0px; 
    text-align: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    border-bottom: 2px solid #BF833C;

}

@font-face {
    font-family: "Naluka";
    src: url(font/naluka-naluka-400.woff) format("woff");
}

.OpenSans{
    font-family: 'OpenSans', sans-serif;
}
h1{
    font-family: 'Naluka';
    color: #BF833C;
    font-size: 100px; 
    text-align: center;
    line-height: 2;
} 

h2{
    font-family: 'Naluka';
    color: #BF833C;
    font-size: 40px; 
    letter-spacing: 3px;
} 
h3 {
    font-family: 'Naluka';
    color: #BF833C;
    font-size: 27px;
    margin-bottom: 5px;
    margin-top: 10px
  }  
h4 {
    font-family: 'Naluka';
    color: #BF833C;
    font-size: 40px;
    margin-bottom: 250px;
    margin-top: 200px;
    margin-left: 270px;
    margin-right: 270px;
    letter-spacing: 2px;
    padding-top: 120px;
    padding-bottom: 120px;

  }  
  
p{
    font-family: 'OpenSans', sans-serif;
    color: #BF833C;
    font-size: 18px; 
    line-height: 1.5;
    margin-bottom: 100px;
} 

a:visited {
    color: #BF833C;
    text-decoration: underline;
}


a:link {
    color: #BF833C;
}

a:hover {
    color: lightblue;
    text-decoration: underline;
}

.alignleft{
    text-align: left;
}

.alignright{
    text-align: right;
}

.aligncenter{
    text-align: center;
}

/* for mobile */
@media screen and (max-width: 800px) {
    .alignleft {
        order: 2;
        flex: 1;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0px; 
        margin-top: 0px; 
    }
    .CampFirePhoto {
        flex: 1;
        order: 1;
        text-align: right;
        margin-bottom: 0px; 
        margin-top: 0px; 
    }
}

/* for large screens */
@media screen and (min-width: 801px) {
    .alignleft {
        order: 1;
        flex: 1;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0px; 
        margin-top: 0px; 
    }   .CampFirePhoto {
        flex: 1;
        order: 2;
        text-align: right;
        margin-bottom: 0px; 
        margin-top: 0px; 
    }
}

