#grad1 {
    height: auto;
    background-color:#000000;
    background-image: linear-gradient( #113440, #000000);
    margin: -10px;
    padding: 20px;
  }
.bg{
    background-image: url("imgs/Campfire.png");
    height: 850px; 
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -7px;
    margin-right: -7px;
    margin-top: -10px;
  }
@font-face {
    font-family: "Naluka";
    src: url(font/naluka-naluka-400.woff) format("woff");
}
.Naluka{    
    font-family: 'Naluka';
}
.OpenSans{
    font-family: 'OpenSans', sans-serif;
}
h1{
    font-family: 'Naluka';
    color: #FEA206;
    font-size: 200px; 
    text-align: center;
    line-height: 2;
} 
h2{
    font-family: 'Naluka';
    color: #FEA206;
    font-size: 50px; 
    letter-spacing: 3px;
} 
h3 {
    font-family: 'Naluka';
    color: #FEA206;
    font-size: 28px;
    margin-bottom: 5px;
    margin-top: 15px;
  }  
h4 {
    font-family: 'Naluka';
    color: #FEA206;
    font-size: 40px;
    margin-bottom: 250px;
    margin-top: 200px;
    margin-left: 270px;
    margin-right: 270px;
    letter-spacing: 2px;
    padding-top: 120px;
    padding-bottom: 120px;

  }  
p{
    font-family: 'OpenSans', sans-serif;
    color: #FEA206;
    font-size: 18px; 
    line-height: 1.5;
    margin-bottom: 100px;
} 

.CampFirePhoto {
    display: flex;
    text-align: right;
    justify-content: flex-start ;
    align-items: center;
    flex-direction: column;
}
.TopLeft {
    position: absolute;
    top: -20%;
    left: 2%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 90px; 
}
.flex-container > div {
    margin: 3%;
    line-height: 20px;
}
.nav-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-top: 50px; 
    margin-bottom: 0px; 
    margin-right: 0px; 
    margin-left: -10px; 
    justify-content: space-between;
}
.nav-container > div {
    width: auto;
}
.photo-container {
    position: relative;
    text-align: center;
}
.title-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: 10%; 
    margin-left: 6%; 
    margin-right: 6%; 
    text-align: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

a.Temagami:visited {
    color: #FEA206;
    text-decoration: underline;

}
a.Temagami:link {
    color: #FEA206;
}
a.Temagami:hover {
    color: lightblue;
    text-decoration: underline;
}


.alignleft{
    text-align: left;
}
.alignright{
    text-align: right;
}
.aligncenter{
    text-align: center;
}

/* NAVIGATION */
ul {
    list-style-type: none;
    margin-top: 0;
    margin-left: -7px;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    display: flex; 
    justify-content: space-between;
    background-color: #113440;
    border-bottom: solid 2px #FEA206;
}
li {
    display: inline;
}
li.left-element {
    margin-left: 10px;
    text-align: left;
}
li.center-element {
    text-align: center;
}
li.right-element {
    margin-right: 10px; 
    text-align: right;
}
li a {
    display: block;
    padding: 14px 16px;
    font-family: 'Naluka';
    color: #FEA206;
    font-size: 28px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #FEA206;
}
li a.active {
    color: #FEA206;
}
  /* NAVIGATION END */

/* for large screens */
@media screen and (min-width: 801px) {
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /* Ensure containers wrap to the next line */
        margin: 20px; /* Adjust margin as needed */
    }
    
    .left {
        order: 1;
        flex: 1;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 20px; /* Adjust margin as needed */
    }
    
    .CampFirePhoto {
        flex: 1;
        order: 2;
        text-align: right;
        margin-bottom: 20px; /* Adjust margin as needed */
    }
    .left h2{
        line-height: normal;
    }
}

/* for mobile */
@media screen and (max-width: 850px) {
    .flex-container {
        display: flex;
        flex-direction: column; 
        margin: 10px;
    }
    .left {
        flex: 1;
        order: 2;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 20px; 
    }
    .CampFirePhoto {
        flex: 1;
        order: 1;
        flex-direction: column;
        text-align: right;
        margin-bottom: 20px; 
    }
    .TopLeft {
        position: static; 
        margin-top: 20px; 
        text-align: left; 
    }
    .photo-container h1 {
        font-size: 100px;
        text-align: left; 
    }
    .title-container h2 {
        font-size: 35px;
        text-align: left; 
    }
    .left h2 {
        line-height: normal;
        font-size: 35px;
    }
    .left p {
        font-size: 14px;
    }
    .nav-container h3{
        font-size: 20px;
    }
    li a {
        font-size: 20px;
    }
    .CampFirePhoto p {
        font-size: 14px;
    }
}