body {
    background-color: #F2EFE5;
}
.Georgia{    
    font-family: Georgia,Times,Times New Roman,serif;
}

@font-face {
    font-family: "Gelasio", serif;
    src: url(font/gelasio-regular.woff) format("woff");
}

h1{
    font-family: 'EB Garamond', serif;
    text-align: center;
    color: #F2EFE5;
    font-size: 200px;   
    font-weight: 200; 
}
h2{
    font-family: 'EB Garamond', serif;
    color: #163209;
    font-size: 54px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 200;
}
h3{
    font-family: Georgia,Times,Times New Roman,serif;
    color: #163209;
    font-size: 28px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 200;
}
h4{
    color: #F2EFE5;
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 16px;
    margin-top: 10px;
    line-height: 140%;
    font-weight: 200;
}
p{
    color: #163209;
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 16px;
    margin-top: 10px;
    line-height: 140%;
}
li {
    color: #163209;
}

.alignleft{
    text-align: left;
}
.alignright{
    text-align: right;
}
.aligncenter{
    text-align: center;
}
.centered {
    position: absolute;
    top: 275px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }


#rcorners {
    border-radius: 250px;
    background: #243932;
    color: #F2EFE5;
    padding-top: 30px;
    padding-left: 40px;
    text-align: left;
    width: 275px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a:visited {
    color: #163209;
    text-decoration: underline;
}
a:link {
    color: #163209;
}
a:hover {
    color: #BF833C;
    text-decoration: underline;
}


.nav-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-top: 60px; 
    margin-bottom: 0px; 
    margin-right: 0px; 
    margin-left: 0px; 
    justify-content: space-between;
}
.nav-container > div {
    width: auto;
}
.photo-container {
    position: relative;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-bottom: 0px; 
    justify-content: center;
    border-bottom: 1px solid #1C3816;
    border-top: 1px solid #1C3816;

}
.flex-container > * {
    margin: 20px;

}
.ChloePhotoBox {
    border-right: 1px solid #1C3816;
}
.flex-container2 {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-bottom: 0px; 
    justify-content: center;
    border-bottom: 1px solid #1C3816;
}
.flex-container2 > * {
    margin: 20px;
}

/* for mobile */
@media screen and (max-width: 800px) {
    .ChloePhotoBox {
        order: 1;
        float: left;
        justify-content:flex-start;
        margin-bottom: 0px; 
        margin-top: 0px; 
    }
    .TextBox {
        display: flex;
        order: 2;
        flex-direction: column;
        text-align: left;
        margin-bottom: 0px; 
        margin-top: 0px; 
    }
}
/* for large screens */
@media screen and (min-width: 801px) {
    .ChloePhotoBox {
        order: 1;
        flex:1;
        float: left;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0px; 
        margin-top: 0px; 

    }
    .TextBox {
        display: flex;
        order: 2;
        flex-direction: column;
        flex:2;
        text-align: left;
        margin-bottom: 0px; 
        margin-top: 0px; 
    }
}

/* for mobile */
@media screen and (max-width: 800px) {
    .TextBox2 {
        display: flex;
        order: 1;
        flex-direction: column;
        text-align: left;
        margin-bottom: 0px; 
        margin-top: 0px; 
    }
    .Cedar{
        order: 2;
        float: right;
        justify-content:flex-end;
        margin-bottom: 0px; 
        margin-top: 0   
    }
}
/* for large screens */
@media screen and (min-width: 801px) {
    .TextBox2 {
        display: flex;
        order: 1;
        flex-direction: column;
        flex:2;
        text-align: left;
        margin-bottom: 0px; 
        margin-top: 0px; 
    }
    .Cedar{
        order: 2;
        float: right;
        justify-content:flex-end;
        margin-bottom: 0px; 
        margin-top: 0px; 
        border-left: 1px solid #1C3816; 
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2EFE5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border: 1px solid #163209;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FFFFFF;
}

li a.active {
    color: white;
    background-color: #163209;
}