body {
    background-color: #130802;
}

.OpenSans{
    font-family: 'OpenSans', sans-serif;
}

.Notable{
    font-family: 'Notable', sans-serif;
}

h1{
    font-family: 'Notable', sans-serif;
    color: #FFC031;
    font-size: 100px; 
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
    margin: -30px;
} 
h2{
    font-family: 'Notable', sans-serif;
    color: #FFC031;
    font-size: 37.5px; 
    letter-spacing: 2px;
} 
h3 {
    font-family: 'Notable', sans-serif;
    color: #FFC031;
    font-size: 27px;
    margin-bottom: 5px;
    margin-top: 10px;
    letter-spacing: 2px;
  }  

h4 {
    font-family: 'Notable', sans-serif;
    color: #FFC031;
    font-size: 75px;
    margin: 0px;
    letter-spacing: 2px;
    line-height: 1.3;
  }  



p{
    font-family: 'OpenSans', sans-serif;
    color: #FFC031;
    font-size: 18px; 
    letter-spacing: normal;
} 

.OverlapImages {
    position: relative;
    align-items: center;
}

.imtip {
    position: absolute;
    bottom: 39px;
    left: 10%;
    align-items: center;

}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-left: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-top: 50px; 
    justify-content: space-between;
    border-bottom: 2px solid #FFC031;

}

.Statement {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-left: 10%;
    margin-right: 10%;
    height: 1000px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px; 
    justify-content:space-between;
    align-items: flex-start;
    padding: 20px;
}
.flex-container > * {
    text-align: left;
    margin: 20px;
}

.right {
    flex-basis: calc(50% - 40px); /* Set the width of each section to 50% with padding */
}

.left {
    flex-basis: calc(50% - 40px); /* Set the width of each section to 50% with padding */
}

@media screen and (max-width: 1100px) {
    .left {
        flex-basis: 100%;
        order: 2;
        width: 100%;
        text-align: left; /* Reset text alignment */
    }
    .right {
        flex-basis: 100%;
        order: 1;
        width: 100%;
        text-align: left; /* Reset text alignment */
    }
}

/* for large screens */
@media screen and (min-width: 1101px) {
    .left {
        order: 1;
        flex: 1;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0px; 
        margin-top: 0px; 
    }   
    .right {
        flex: 1;
        order: 2;
        text-align: right;
        margin-bottom: 0px; 
        margin-top: 0px; 
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border: 1px solid #FFC031;
    background-color: #FFC031;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #130802;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #130802;
  }
  
  li a.active {
    color: #FFC031;
    background-color: #130802;
  }

a:hover {
    text-decoration: underline;
  }
