body {
    height: auto;
    background-image: linear-gradient(25deg, #FFFFFF, #EDE1A4)}

h1{
    font-family: "forma-djr-display", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 130px;   
    color: #000000;
    letter-spacing: 10.5px;
    text-align: center;
    margin-top: 13%;
    margin-bottom:0%;
}

h2{
    font-family: "forma-djr-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;   
    color: #000000;
    letter-spacing: 3.5px;
    text-align: center;
    margin-bottom: 10%;
}

h3{
    font-family: "forma-djr-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #000000;
    letter-spacing: 2.45px;
    margin: 0.4%;
}
p{
    text-align: center;
    font-size: 28px;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    margin-top: 7%;
}
.marquee{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.CircleLayout{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center; 
    margin-left: 2%;
    margin-right: 2%;
}
.CircleLayout > div{
    margin: 3%;
    margin-top: 5%;
}
.Column{
    flex-direction: column;
    display: flex; 
}
.Title{
    border-bottom: solid 1px #000000;
}
.link{
    text-align: center;
    font-size: 28px;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    margin-top: 7%;
}

a:visited {
    color: #000000;
    text-decoration: none;

}
a:link {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: 000000;
    text-decoration: underline;
}
a.Imagehover:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    h1{
        font-size: 100px;   
    }
    h2{
        font-size: 28px;   
    }
    .marquee h3{
        font-size: 22px;
    }
}

img:hover {
    opacity: 70%;
}